<h2 class="screen-align">Createalign</h2>
<div id="template-i98j" class="row">
    <div id="template-ivq9" class="cell">
        <label id="template-i18t" class="label">Name</label>
        <input id="template-i51i" [(ngModel)]="align.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-i465" class="cell">
        <label id="template-igxg" class="label">Email</label>
        <input id="template-iesb" [(ngModel)]="align.email" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-ik8j" class="cell">
        <label id="template-iutm" class="label">address</label>
        <input id="template-is69m" [(ngModel)]="align.address"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>
<div id="template-i1ns5" class="row">
    <div id="template-i5e5r" class="cell">
        <label id="template-ikigh" class="label">Phone</label>
        <input id="template-i1klj" [(ngModel)]="align.phone" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-i4pef" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-idqk3" class="cell"></div>
    <div id="template-ix28g" class="cell"></div>
</div>